{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth %}
{% block head_title %}{% trans "Change Password" %}{% endblock head_title %}
{% block content %}
    {% element h1 %}{% trans "Change Password" %}{% endelement %}
    {% element p %}{% trans 'Your password is now changed.' %}{% endelement %}
    {% if user.is_authenticated %}
      <p><a class="btn primary" href="{% url 'dashboard' %}">Go to the dashboard →</a></p>
    {% else %}
      <p><a class="btn primary" href="{% url 'account_login' %}">Log in with your new password →</a></p>
    {% endif %}
{% endblock content %}
